<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css.css">
    <title>扫码签到</title>
    <script>
        setTimeout(()=>{
            window.location.href="http://3965v681u4.zicp.vip";
        }, 30000)
    </script>
</head>
<body id="login">
<table>
    <tr>
        <td>
            <iframe src="/two_dim_code"></iframe>
        </td>
        <td>
            <iframe src="/two_dim_code"></iframe>
        </td>
        <td>
            <iframe src="/two_dim_code"></iframe>
        </td>
        <td>
            <iframe src="/two_dim_code"></iframe>
        </td>
    </tr>
    <tr>
        <td>
            <iframe src="/two_dim_code"></iframe>
        </td>
        <td>
            <iframe src="/two_dim_code"></iframe>
        </td>
        <td>
            <iframe src="/two_dim_code"></iframe>
        </td>
        <td>
            <iframe src="/two_dim_code"></iframe>
        </td>
    </tr>
</table>
</body>
</html>